<h2>Reactives: Switches</h2>
<hr>

<form>

  <!--Radius-->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">
      Género
    </label>

    <div class="col-sm-9">
      <div class="form-check">
        <input class="form-check-input" type="radio" value="M"
         name="radioGenero" id="redioMasculino" >
        <label class="form-check-label" for="redioMasculino">
          Maculino
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" value="F"
        name="radioGenero" id="radioFemenino">
        <label class="form-check-label" for="radioFemenino">
          Femenino
        </label>
      </div>
    </div>
  </div>


  <!--Switches-->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">
      Notificaciones
    </label>

    <div class="col-sm-9">

      <div class="form-check form-switch mt-2">
        <input class="form-check-input" type="checkbox"
        id="flexSwitchCheckChecked">
        <label class="form-check-label" for="flexSwitchCheckChecked">Quiero recibir notificaciones</label>
      </div>

    </div>
  </div>

  <!--Checks-->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">

    </label>

    <div class="col-sm-9">
      <div class="form-check">
        <input class="form-check-input" type="checkbox"
        id="flexCheckChecked">
        <label class="form-check-label" for="flexCheckChecked">
          Terminos y condiciones
        </label>
      </div>
    </div>

  </div>

  <!--Boton submit-->
  <div class="row">
    <div class="col">
      <button class="btn btn-primary float-end">
        Guardar
      </button>
    </div>
  </div>

</form>

<!-- <h5>Valor del formulario</h5>
<pre>{{miFormulario.value | json}}</pre>
<br>

<h5>Persona</h5>
<pre>{{persona | json}}</pre>
<br>

<h5>Valid</h5>
<pre>{{miFormulario.valid}}</pre>

<h5>Valid</h5>
<pre>{{miFormulario.form.controls['terminos']?.errors | json}}</pre>


<br>
<pre>Condiciones:</pre> -->
